#1{
    font-size: 14px;
    color: #000033;
}

.a{
    color: #F00;
}
.b{
    color: #1F87CC;
}
.c{
    color: #FAA53B;
}
.d{
    color: #0d7144;
}
.e{
    width: 100px;
    height: 160px;
}
.f{
    width: 200px;
    height: 130px;
}